<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IB.CSharpApi" version="9.73.7" targetFramework="net461" />
  <package id="NLog" version="4.4.13" targetFramework="net461" />
  <package id="NLog.Config" version="4.4.13" targetFramework="net461" />
  <package id="NLog.Schema" version="4.4.13" targetFramework="net461" />
</packages>